body {
    background-color: #000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da janela */
    text-align: center; /* Centraliza o texto */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens do container */
}

.logo img {
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
}

.text {
    margin-top: 20px; /* Espaço entre a logo e o texto */
}

.botao-ir {
  display: inline-block;
  padding: 0.875rem 2rem;
  background: linear-gradient(245deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 0.875rem;
}

.botao-ir:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

